[run]
source = .
omit =
    tests/*
    bar_cache.py
    alpaca_trader.py
    */__pycache__/*
    */migrations/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
